.logo{
    display: block;
    margin: auto;
    width: 145px;
    height: 145px;
}
h1{
    margin-top: 12px;
    font-size: 26px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.container{
    max-width: 955px;
    background-color: #15202b;
    margin: auto  ;
    height: 52vh ;
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}
.message{
    border: 2px solid;
    border-radius: 10px;
    background-color: black;
    width: 24%;
    padding: 10px;
    margin: 17px 15px;
    color: wheat;
    
}
.left{
    float: left;
    clear: both;
}

.right{
    float: right;
    clear: both;
}

#send-container{
    text-align: center;
    max-width: 980px;
    display: block;
    margin: auto;
    width: 100%;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    cursor: pointer;
    border: 3px solid black;
    border-radius: 6px;
    height: 34px;
}

#messageInp{
    width: 91%;
    border: 3px solid black;
    border-radius: 6px;
    height: 34px;
}
body 
{
    height: 103vh;
    background-image: linear-gradient(rgb(92,100,221),#15202b);

}